###############################################################################
# Convert line endings to lf on checkin and prevent conversion to crlf on 
# checkout
###############################################################################
* eol=lf

###############################################################################
# Media
###############################################################################
*.png binary
*.jpg binary
*.gif binary
*.mp4 binary
*.webm binary
*.ogg binary